<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/usuarios/edit/{{usuarios.id}}" method="POST">
                        <div class="form-group">
                        <input type="number" name="empleado_id" class="form-control" placeholder="ID de empleado" value="{{usuario.empleado_id}}">
                        </div>
                        <div class="form-group">
                         <input type="number" name="clave" class="form-control" placeholder="Password" value="{{usuario.clave}}">
                        </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>